@model SaudeLivre.Models.Cliente

@{
    ViewData["Title"] = "Create Cliente";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscrição</title>
</head>

<body>
    <header>
        <h1>Curso: Atendimento e Etiqueta ao Público LGBT+</h1>
        <hr />
    </header>
    <main>
        <section>
            <h3>Como conseguir o certificado do nosso curso?</h3>
            <p class="text-justify" style="font-size: 1rem;">
                Receba por e-mail o e-book do nosso curso após preencher o formulário abaixo. Leia o e-book com atenção, no seu tempo e aproveite esse conhecimento. Por fim envie para o e-mail curso@livresaude.org um texto dissertativo argumentativo sobre o que você aprendeu e como pretende implementar esse conhecimento em seu dia-a-dia.
                Utilize exemplos do seu trabalho, situações ocorridas, citações das mais diversas áreas e fique a vontade com relação ao número de linhas. Nossa equipe irá avaliar se você compreendeu a essencia do que o curso tentou transmitir, atribuir uma nota e emitir um certificado direto no seu email. Notas superiores a 9 possuem um certificado especial de execelência.
            </p>
        </section>

        <section class="container rounded" style="max-width: 500px; font-weight: bold; text-shadow: 0.1em 0.1em 0.2em black; background: #5911BD;">
            <hr />
            <h4 style="text-align: center; color: white;">Inscreva-se</h4>
            <hr />
            <div class="row justify-content-center" style="color: white; text-shadow: 0.1em 0.1em 0.2em black">
                <div class="col-md-8">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label">Nome Completo</label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cpf" class="control-label">CPF</label>
                            <input asp-for="Cpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Endereço de e-mail</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit" value="Efetuar inscrição" class="btn btn-light btn-outline-dark btn-block" style="font-weight: bold;" />
                        </div>
                        <br/>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <div>
        <a asp-action="Index">Voltar à Página Inicial</a>
    </div>

</body>

</html>
