@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="col-sm-12 mt-5 rounded text-white">
                    <div class="card">
                    <img class="card-img-top" style="max-height: 400px;" src="https://prefonline-savein.cdn.jelastic.net/wp-content/uploads/sites/20/2018/04/Saude.png" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title"> Livre Saúde</h5><h4>Curso de Etiqueta</h4>
                        <p class="card-text">Aprenda mais sobre o tratamento verbal de pessoas LGBTQIA+ e faça seus pacientes sentirem-se mais confortáveis com seu atendimento.</p>
                        <a class="btn btn-info text-white" asp-area="" asp-controller="Home" asp-action="Create">Inscreva-se</a>
                    </div>
                    </div>
                    </div>

</div>