@{
    ViewData["Title"]="Home SobreNos";
}

<div class="card text-white bg-secondary mb-3" style="max-width: 80rem">
    <div class="card-header">Sobre nós</div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
            O acesso à saúde é um direito garantido por lei. Oferecido
            pelo sistema público ou particular, o serviço deveria
            atender todas as pessoas de forma humana, respeitosa e
            integral. Porém, essa não é a realidade de muitos
            integrantes da comunidade LGBTI+. Muitos profissionais da
            área de saúde não estão preparados para atende-los, como com
            o uso do termo inadequado como por exemplo: o uso do nome
            social para travestis e transexuais, e ser tratado conforme
            o gênero com o qual se identifica. Pensando nisso o Livre
            Saúde tem como objetivo promover um atendimento "livre de
            qualquer discriminação, restrição ou negação em virtude da
            orientação sexual e identidade de gênero".
        </p>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center flex-wrap">
    <div class="item-sobre" style="background-color: #333e; border-radius: 30px; color: #fff; padding: 10px;">
        <h2>Missão</h2>
        A missão do Livre Saúde é promover o respeito aos direitos humanos no Brasil, construindo pontes que canalizem recursos para fortalecer a saúde das pessoas LGBTQIA+ e desenvolver a justiça social.
    </div>
    <div class="item-sobre" style="background-color: #333e; border-radius: 30px; color: #fff; padding: 10px;">
        <h2>Visão </h2>
        Nossa visão é ser um centro de referência de cuidados com a saúde para as pessoas LGBT em um lugar de acolhimento e respeito mútuo.
    </div>
    <div class="item-sobre" style="background-color: #333e; border-radius: 30px; color: #fff; padding: 10px;">
        <h2> Valores </h2>
        Ética, Eficiência, Compromisso,  Transparência, Respeito, Humanização e Solidariedade.
    </div>  
</div>
