@{
    ViewData["Title"]="Home SobreNos";
}

<div class="container">
    <h1>Sobre nós</h1>
    <p><h2>Missão</h2>
A missão do Livre Saúde é promover o respeito aos direitos humanos no Brasil, construindo pontes que canalizem recursos para fortalecer a saúde das pessoas LGBTQIA+ e desenvolver a justiça social.
    </p>
    <p>
        <h2>Visão </h2>
        
Nossa visão é ser um centro de referência de cuidados com a saúde para as pessoas LGBT em um lugar de acolhimento e respeito mútuo.






    </p>
    <p>
        <h2> Valores </h2>
        <h3> – Respeito </h3>
        <h3> – Cuidado </h3>
        <h3> – Saúde </h3>
    </p>
</div>