@{
    ViewData["Title"]="Home SobreNos";
}

<div class="container">
    <h1>Sobre nós</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eaque tempora perferendis eum corrupti odit voluptas aspernatur exercitationem eos dolorem animi cum explicabo voluptatum aliquid amet, esse at molestiae dignissimos?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ea illo minus alias. Dignissimos aspernatur excepturi praesentium itaque magni nisi dolore illum neque ad minima consectetur maxime, dolorum doloribus est?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum soluta sapiente suscipit necessitatibus quidem voluptate quo id. Dolorem totam perferendis voluptates placeat accusantium dolore quisquam ipsum in voluptatibus earum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dolorem in iusto culpa maxime doloribus voluptatem ab, sequi animi blanditiis quas corporis iure tempore nostrum similique porro? Non, incidunt quam?
    </p>
</div>